/* Login.css */

.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn-login {
    background-color:orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #ff6600;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .register-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-link a {
    color: #007bff; /* Set the link color to blue */
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }